.contact{
  padding:1em 0 1em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 70%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin: 0 auto;
}

.contact__title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.contact__title::before {
  width: 18px;
  height: 18px;
  position: absolute;
  content: "";
  left: 0;
  background-color: #00bfff;
  border-radius: 50%;
}

.contact__message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.contact-form__form-group {
  display: flex;
  width: 100%;
  gap: 6px;
  margin-bottom: 10px;
}

.contact-form__label {
  position: relative;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.contact-form__input,
.contact-form__textarea {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
}

.contact-form__input:placeholder-shown + .contact-form__label,
.contact-form__textarea:placeholder-shown + .contact-form__label {
  top: 12.5px;
  font-size: 0.9em;
}

.contact-form__input:focus + .contact-form__label,
.contact-form__textarea:focus + .contact-form__label,
.contact-form__input:valid + .contact-form__label,
.contact-form__textarea:valid + .contact-form__label {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.contact-form__button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #00bfff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form__button:hover {
  background-color: #00bfff96;
}

.contact-form__button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
