.contact{
  padding:1em 0 1em 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin: 0 auto;
}

.contact__title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.contact__title::before {
  width: 18px;
  height: 18px;
  position: absolute;
  content: "";
  left: 0;
  background-color: #00bfff;
  border-radius: 50%;
}

.contact__message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.contact-form__form-group {
  display: flex;
  width: 100%;
  gap: 6px;
  margin-bottom: 10px;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 60px;
}

.contact-form__label {
  position: absolute;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  bottom: 12px;
  left: 10px;
  pointer-events: none;
}

.contact-form__input:not(:focus):placeholder-shown + .contact-form__label,
.contact-form__textarea:not(:focus):placeholder-shown + .contact-form__label {
  opacity: 1;
  visibility: visible;
}

.contact-form__input:focus + .contact-form__label,
.contact-form__textarea:focus + .contact-form__label,
.contact-form__input:not(:placeholder-shown) + .contact-form__label,
.contact-form__textarea:not(:placeholder-shown) + .contact-form__label {
  opacity: 0;
  visibility: hidden;
}

.contact-form__input,
.contact-form__textarea {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 12px 10px 8px 10px; /* zmniejszone paddingi dla lepszego wyglądu */
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
  margin-bottom: 10px;
}

.contact-form__button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #00bfff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form__button:hover {
  background-color: #00bfff96;
}

.contact-form__button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form-group-half {
  flex: 1;
}

@media (max-width: 768px) {
  .contact-form__form-group {
    flex-direction: column;
  }
}
