@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

.documents-box {
  background-color: #ffffff;
}
.documents-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.documents-title {
  font-family: 'Kanit', sans-serif;
  font-size: 2.5rem;
  color: #444;
  text-align: center;
}

.document-article {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.document-article:hover {
  transform: translateY(-5px);
}

.document-image {
  flex: 1;
  min-width: 35%;
  cursor: pointer;
}

.document-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-right: 1px solid #e0e0e0;
}

.document-text {
  flex: 2;
  padding: 2rem;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.document-text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.document-text p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
}


/* Responsive design */
@media (max-width: 768px) {
  .document-article {
    flex-direction: column;
  }

  .document-image img {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .document-text {
    padding: 1.5rem;
  }

  .documents-title {
    font-size: 2rem;
  }

  .document-text h2 {
    font-size: 1.5rem;
  }

  .document-text p {
    font-size: 1rem;
  }
}
