.home {
  position: relative;
  padding-top: 100px;
  z-index: 0;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: url('../../images/BG-interview.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -1;
}

.home__projects {
  background-color: var(--bg-light);
}

.home__projects-title {
  color: var(--text-dark);
  width: 100%;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.home__about-short h2 {
  color: var(--text-light);
  text-align: center;
  font-size: 2.5rem;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.4s;
  font-family: 'Ysabeau Office', sans-serif;
  margin: 0 5% 0 5%;
  line-height: 1.4;
}

.home__about-short i {
  margin-left: 0.5em;
  margin-right: 0.5em;
  transition: transform 0.3s ease;
}

.home__about-short i:hover {
  transform: scale(1.2);
}

.home__about-short {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Style dla ikon */
.fab.fa-js {
  color: #F7DF1E;
}

.fab.fa-react {
  color: #61DAFB;
}

.fab.fa-css3-alt {
  color: #1572B6;
}

.fab.fa-sass {
  color: #CC6699;
}

.fas.fa-database {
  color: #00758f;
}

.fas.fa-project-diagram {
  color: #5e35b1;
}

@media (max-width: 960px) {
  .home::before {
    height: 1500px;
  }
  
  .home__about-short h2 {
    font-size: 2rem;
  }
  
  .home__projects-title {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .home__about-short h2 {
    font-size: 1.8rem;
  }
  
  .home__projects-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .home__about-short h2 {
    font-size: 1.5rem;
  }
  
  .home__projects-title {
    font-size: 1.8rem;
  }
}