.Interview {
  height: auto;
  width: 100%;
}

.interview-container {
  display: flex;
  align-items: center;
  border-radius: 1em;
  position: relative;
  justify-content: center;
  padding-bottom: 30vh;
}

.profile-image-container {
  left: 3%;
  width: 50%;
  height: auto;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 1;
}

.profile-image {
  width: 750px;
  height: 750px;
  object-fit: cover;
  border-radius: 30%;
}

.interview-text-container {
  padding: 0em 3em 0em 6em;
  margin-right: auto;
  border-radius: 1em;
  width: 50%;
  font-family: Arial, sans-serif;
}

.interview-text-container h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 0.5em;
}

.interview-text-container h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ddd;
  margin-bottom: 1em;
}

.interview-text-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #eee;
  margin-bottom: 1em;
}

.interview-button {
  margin-top: 1em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background-color: #00bfff;
  color: #fff;
  border: none;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 0.5em;
}

.interview-button:hover {
  background-color: #000;
  transform: scale(1.05);
}

@media screen and (max-width: 960px) {
  .interview-container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .profile-image-container {
    left: 0;
    margin-bottom: 1em;
    width: 80%;
  }

  .interview-text-container {
    padding: 1em;
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 960px) {
  .profile-image-container {
    justify-content: center; /* Wyśrodkowanie dla mobile */
    left: 0;
    width: 80%; /* Szerszy kontener na mobile */
  }
}
@media (max-width: 768px) {
  .profile-image {
    width: 400px;
    height: 400px;
  }
}