.App{
  background-color: rgb(49, 49, 49);
  min-height: 100vh;
  padding-top: 80px; /* wysokość Navbaru */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
h1{
  color: white;
}
.home,
.Projects,
.Netapi,
.Documents,
.Fronttech {
  align-items: center;
  justify-content: center;

}
.home,
.Projects,
.Netapi,
.Fronttech,
.Documents,
.aboutme,
.contact,
.SMTrend {
  position: relative; 
  z-index: 1; 
}

